page-login {
  .background {
    background-repeat:no-repeat;
    background-position: center center;
    background-size:     cover;
    background-image: url('https://firebasestorage.googleapis.com/v0/b/trekkiechat.appspot.com/o/imgApp%2FTie-Fighter-Spaceship-Darth-Vader-Star-Wars-2897280.jpg?alt=media&token=6db7f26b-c9e1-434f-8309-0f0bc5dd1851');
  }
  .scroll-content {
    align-content: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  ion-card.card {
    box-shadow: none;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
  }
  a, p,
  ion-card-header.card-header {
    color: #fff!important;
  }

  .list > .item-block:first-child {
    border: medium none;
  }

  .item {
    margin-bottom: 10px;
    background: rgba(255, 255, 255, 0.5);
    border: medium none;

    .text-input {
      color: #fff;
    }


    input::-moz-placeholder{
      color: #fff!important;
    }
    input:-moz-placeholder {
      color: #fff!important;
    }
    *:-moz-placeholder{
      color: #fff!important;
    }
    *:-ms-input-placeholder{
      color: #fff!important;
    }
    *::-webkit-input-placeholder{
      color: #fff!important;
    }

  }

  .icon {
    padding-right: 10px;
  }

  .bottom {
    bottom: 0;
  }

  .input-cover {
    position: static;
  }

}
