page-light {
  .content {
    background-repeat:no-repeat;
    background-position: center center;
    background-size:     cover;
    background-image: url('');
  }
  ion-note {
    font-size: 12px;
    position: fixed;
    top: 12px;
    right: 12px;
  }

  .grid {
    padding: 0;
  }

  .col {
    padding: 0;
    align-self: center;
  }

  ion-footer ion-input {
    background-color: #EEEEEE;
    padding-left: 10px;
    border-radius: 5px;
  }
}
