page-light {

    ion-note {
    font-size: 12px;
    position: fixed;
    top: 12px;
    right: 12px;
  }

  .grid {
    padding: 0;
  }

  .col {
    padding: 0;
    align-self: center;
  }

  ion-footer ion-input {
    background-color: #EEEEEE;
    padding-left: 10px;
    border-radius: 5px;
  }


  .bubble {
    border-radius: 15px; // change the picks of the figure
    box-shadow: 0 0 25px #0000ff;
  }

  .text-right {
    border-radius: 15px;
    box-shadow: 0 0 25px #3ec900;
    right: auto;
  }

    #msg {
     }

  }

