page-dark {



  ion-note {
    font-size: 12px;
    position: fixed;
    top: 12px;
    right: 12px;
  }

  .grid {
    padding: 0;
  }

  .col {
    padding: 0;
    align-self: center;
  }

  ion-footer ion-input {
    background-color: #EEEEEE;
    padding-left: 10px;
    border-radius: 5px;
  }
  .bubble2 {
    border-radius: 40px; // change the picks of the figure
    box-shadow: 0 0 25px #ff0008;
  }

  .text-right {
    border-radius: 40px; // change the picks of the figure
    box-shadow: 0 0 25px #4a0088;
    right: auto;
  }

}
