page-wookie {
  ion-note {
    font-size: 12px;
    position: fixed;
    top: 12px;
    right: 12px;
  }

  .grid {
    padding: 0;
  }

  .col {
    padding: 0;
    align-self: center;
  }

  ion-footer ion-input {
    background-color: #EEEEEE;
    padding-left: 10px;
    border-radius: 5px;
  }

  .bubble {
    border-radius: 40px; // change the picks of the figure
    -webkit-animation: rainbow 2s infinite;
    box-shadow: 0 0 25px #913706;
    border: 5px solid transparent;
    /* Chrome, Safari, Opera */
  }
    @-webkit-keyframes rainbow {
      20% {
        color: red;
        box-shadow: 0 0 25px #e20003;
      }
      40% {
        color: #6a3406;
        box-shadow: 0 0 25px #a1410d;
      }
      60% {
        color: #008000;
        box-shadow: 0 0 25px #008000;
      }
      80% {
        color: blue;
        box-shadow: 0 0 25px rgba(18, 4, 255, 0.89);
      }
      100% {
        color: #4a0088;
        box-shadow: 0 0 25px #4a0088;
      }
    }

    .text-right {
      border-radius: 40px;
      right: auto;
      box-shadow: 0 0 25px #913706;
      -webkit-animation: rainbow 2s infinite;
    }

  }

